<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>X Plane Flight Plan Generator</title>
    <link href="../shared/css/bootstrap.min.css" rel="stylesheet">
    <link href="../shared/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../shared/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top_nav"></nav>
    <div class="container theme-showcase" role="main">


    </div> <!-- /container -->
    <script src="../shared/js/jquery.js"></script>
    <script src="../shared/js/bootstrap.min.js"></script>
    <script src="../shared/js/templating.js"></script>
  </body>
</html>
